<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= restaurant.name %>
  </title>
</head>

<body>
  <%- include('./partials/nav') %>
    <h1><%= restaurant.name %></h1>
    <p>Address: <%= restaurant.address %></p>
    <p>Reservations: <%= restaurant.phone %></p>
    <p>The restaurant is now <%= restaurant.isOpen===true ? "open." : "closed." %></p>
</body>

</html>